{% extends "base.html" %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-8 col-sm-12 mx-auto">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %}
                                {% if message.tags == "error" %}
                                    class="alert alert-danger"
                                {% endif %}
                                    class="alert alert-{{ message.tags }} alert-dismissible fade show"
                            {% endif %}
                                    role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-8 col-sm-12 mx-auto">
                    <form id="post_form" method="post" action=""
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label class="form-label" for="text">{{ post_form.text.label_tag }}</label>
                            {{ post_form.text }}
                        </div>
                        <p class="text-danger"><small>{{ post_form.text.errors.0 }}</small></p>

                        <div class="d-flex flex-row align-items-center">
                            <div class="d-flex">
                                <label class="form-label" for="image">{{ post_form.image.label_tag }} &nbsp;</label>
                                {{ post_form.image }}
                            </div>
                            <p class="text-danger"><small>{{ post_form.image.errors.0 }}</small></p>
                        </div>

                        <div class="d-grip gap-2 d-flex justify-content-end">
                            <button type="submit" name="submit" class="btn btn-primary">Share this post</button>
                        </div>

                    </form>
                </div>

                <div class="col-md-8 col-sm-12 mx-auto py-4">
                    <h3>My feed</h3>
                    {% if post_list %}
                        {% for post in post_list %}
                            <div class="card mb-3 my-3 shadow-sm">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div class="author-details d-flex align-items-center">
                                        <img src="{{ post.author.userprofile.avatar.url }}"
                                             class="rounded-circle"
                                             width="50" height="50"/>
                                        <a href="{% url 'profile' post.author.username %}"
                                           class="text-decoration-none text-reset mx-3 my-0 fw-bold"> {{ post.author.username }} </a>
                                    </div>
                                    <div>
                                        <p class="card-text"><small class="text-muted">{{ post.created_at }}</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ post.text }}</p>
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="rounded mx-auto d-block" alt="..."
                                             style="height: 300px; width:250px;">
                                    {% endif %}

                                    <button class="btn btn-success btn-sm"
                                            onclick='upvoteUserPost("{{ post.id }}")'>
                                        Upvote ({{ post.user_likes.all.count }})
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="d-flex justify-content-center mt-5">
                            <h5>Nothing to show here...</h5>
                        </div>
                    {% endif %}
                </div>

            {% else %}
                <p>Welcome, new user. Please log in.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}